*
{
    margin:0;
    padding: 0;
}
body{
    background: linear-gradient(#200016,#10001f);
    height: 100vh;
    font-family: system-ui;
}
a {
text-decoration: non;
    color:#fff;
}
header {
    position:absolute;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}
header .logo{
    font-size: 30px;
    text-transform: uppercase;
} 
header ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
header ul li{
    margin-right: 30px;
    color: bisque;
}
header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
}
header ul li a:hover, .active{
    background: #fff;
    color: #200016;
}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
}
.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top,#200016,transparent);
}
.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#moon{
    mix-blend-mode: screen;
}
.content{
    color: #fff;
    padding: 30px;
}
.content h2{
    color: rgb(231, 94, 21);
    margin: 20px;
    font-size: 60px;
    text-align: left;
}
.content h1{
    
    margin: 20px;
    font-size: 100px;

}
.content p{
    margin: 20px;
    text-align: right;
    font-size: 30px;

}





